<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.bizspring.cloud.upms.admin.mapper.MenuMapper">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="cn.bizspring.cloud.upms.common.entity.Menu">
		<id column="id" property="id"/>
		<result column="name" property="name"/>
		<result column="permission" property="permission"/>
		<result column="path" property="path"/>
		<result column="parent_id" property="parentId"/>
		<result column="icon" property="icon"/>
		<result column="component" property="component"/>
		<result column="sort" property="sort"/>
		<result column="type" property="type"/>
		<result column="keep_alive" property="keepAlive"/>
		<result column="created_time" property="createdTime"/>
		<result column="updated_time" property="updatedTime"/>
		<result column="del_flag" property="delFlag"/>
		<result column="i18n_code" property="i18nCode"/>
	</resultMap>

	<resultMap id="MenuVoResultMap" type="cn.bizspring.cloud.upms.common.vo.MenuVO">
		<id column="id" property="id"/>
		<result column="name" property="name"/>
		<result column="permission" property="permission"/>
		<result column="i18n_code" property="i18nCode" />
		<result column="parent_id" property="parentId"/>
		<result column="icon" property="icon"/>
		<result column="path" property="path"/>
		<result column="component" property="component"/>
		<result column="sort" property="sort"/>
		<result column="keep_alive" property="keepAlive"/>
		<result column="type" property="type"/>
		<result column="created_time" property="createdTime"/>
		<result column="updated_time" property="updatedTime"/>
		<result column="del_flag" property="delFlag"/>
	</resultMap>

	<!--通过角色查询菜单信息-->
	<select id="listMenusByRoleId" resultMap="MenuVoResultMap">
		SELECT
			m.*
		FROM
			biz_menu m
		LEFT JOIN biz_role_menu r ON m.id = r.menu_id
		WHERE
			m.del_flag = 0
		AND r.role_id = #{roleId}
		ORDER BY
			m.sort DESC
    </select>

</mapper>
