@font-face {
  font-family: "iconfont"; /* Project id 4156323 */
  src: url('//at.alicdn.com/t/c/font_4156323_cbl095a234.woff2?t=1694411463418') format('woff2'),
       url('//at.alicdn.com/t/c/font_4156323_cbl095a234.woff?t=1694411463418') format('woff'),
       url('//at.alicdn.com/t/c/font_4156323_cbl095a234.ttf?t=1694411463418') format('truetype');

/* src: url("./iconfont.woff2?t=1693223067592") format("woff2"),
        url("./iconfont.woff?t=1693223067592") format("woff"),
        url("./iconfont.ttf?t=1693223067592") format("truetype"); */
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-row:before {
  content: "\e658";
}

.icon-select:before {
  content: "\e661";
}

.icon-date:before {
  content: "\e604";
}

.icon-color:before {
  content: "\e760";
}

.icon-switch:before {
  content: "\e6c3";
}

.icon-checkbox:before {
  content: "\e612";
}

.icon-input:before {
  content: "\e61a";
}

.icon-radio:before {
  content: "\e627";
}

.icon-textarea:before {
  content: "\e630";
}

.icon-button:before {
  content: "\e6f7";
}

.icon-iconmobile:before {
  content: "\e6d2";
}

.icon-number:before {
  content: "\e639";
}

.icon-password:before {
  content: "\e65e";
}

.icon-time:before {
  content: "\e68b";
}

.icon-cascader:before {
  content: "\e625";
}

.icon-date-range:before {
  content: "\e606";
}

.icon-time-range:before {
  content: "\e613";
}

.icon-rate:before {
  content: "\e615";
}

.icon-slider:before {
  content: "\e618";
}

.icon-user:before {
  content: "\e706";
}

.icon-circle-close:before {
  content: "\e6c2";
}

.icon-close:before {
  content: "\e648";
}

.icon-warning:before {
  content: "\e62f";
}

.icon-delete:before {
  content: "\e69d";
}

.icon-more:before {
  content: "\e601";
}

.icon-download:before {
  content: "\e714";
}

.icon-phone:before {
  content: "\e725";
}

.icon-star-on:before {
  content: "\e659";
}

.icon-pingguo:before {
  content: "\e60b";
}

.icon-setting-line:before {
  content: "\e624";
}

.icon-share:before {
  content: "\e60c";
}

.icon-camera:before {
  content: "\e86e";
}

.icon-bell:before {
  content: "\e7c4";
}

.icon-cloud-upload:before {
  content: "\e7d9";
}

.icon-check:before {
  content: "\e7fc";
}

.icon-minus:before {
  content: "\e7fd";
}

.icon-zoom-out:before {
  content: "\e897";
}

.icon-zoom-in:before {
  content: "\e898";
}

.icon-cloudupload-fill:before {
  content: "\e7da";
}

.icon-plus:before {
  content: "\e829";
}

.icon-caret-right:before {
  content: "\e8ec";
}

.icon-caret-left:before {
  content: "\e8ed";
}

.icon-video-camera:before {
  content: "\e762";
}

.icon-suoping1:before {
  content: "\e603";
}

.icon-success:before {
  content: "\e73c";
}

.icon-circle_close:before {
  content: "\e611";
}

.icon-help:before {
  content: "\eaad";
}

.icon-circle-plus-outline:before {
  content: "\e640";
}

.icon-d-caret:before {
  content: "\e64c";
}

.icon-more-outline:before {
  content: "\e660";
}

.icon-s-management:before {
  content: "\e663";
}

.icon-s-operation:before {
  content: "\e662";
}

.icon-s-flag:before {
  content: "\e66b";
}

.icon-s-custom:before {
  content: "\e66c";
}

.icon-s-shop:before {
  content: "\e66d";
}

.icon-s-ticket:before {
  content: "\e66e";
}

.icon-s-promotion:before {
  content: "\e679";
}

.icon-s-platform:before {
  content: "\e67a";
}

.icon-picture-outline-round:before {
  content: "\e670";
}

.icon-phone-outline:before {
  content: "\e672";
}

.icon-picture-outline:before {
  content: "\e671";
}

.icon-s-cooperation:before {
  content: "\e676";
}

.icon-s-check:before {
  content: "\e673";
}

.icon-s-open:before {
  content: "\e677";
}

.icon-remove-outline:before {
  content: "\e678";
}

.icon-platform-eleme:before {
  content: "\e67c";
}

.icon-s-data:before {
  content: "\e67d";
}

.icon-s-grid:before {
  content: "\e67e";
}

.icon-s-opportunity:before {
  content: "\e680";
}

.icon-s-tools:before {
  content: "\e681";
}

.icon-s-marketing:before {
  content: "\e682";
}

.icon-s-claim:before {
  content: "\e683";
}

.icon-remove:before {
  content: "\e685";
}

.icon-s-release:before {
  content: "\e686";
}

.icon-star-off:before {
  content: "\e687";
}

.icon-s-comment:before {
  content: "\e688";
}

.icon-s-finance:before {
  content: "\e689";
}

.icon-user-solid:before {
  content: "\e68a";
}

.icon-caret-top:before {
  content: "\ed4e";
}

.icon-circle-check:before {
  content: "\ed4f";
}

.icon-caret-bottom:before {
  content: "\ed51";
}

.icon-camera-solid:before {
  content: "\ed52";
}

.icon-delete-solid:before {
  content: "\ed53";
}

.icon-circle-plus:before {
  content: "\ed54";
}

.icon-goods:before {
  content: "\ed55";
}

.icon-error:before {
  content: "\ed56";
}

.icon-message-solid:before {
  content: "\ed57";
}

.icon-picture:before {
  content: "\ed58";
}

.icon-s-fold:before {
  content: "\ed59";
}

.icon-s-order:before {
  content: "\ed5a";
}

.icon-question:before {
  content: "\ed5b";
}

.icon-video-camera-solid:before {
  content: "\ed5c";
}

.icon-warning-outline:before {
  content: "\ed5d";
}

.icon-s-home:before {
  content: "\e60d";
}

.icon-s-unfold:before {
  content: "\e60e";
}

.icon-s-help:before {
  content: "\e923";
}

.icon-qq:before {
  content: "\e66a";
}

.icon-weixin:before {
  content: "\e64b";
}

.icon-exit:before {
  content: "\e7c8";
}

.icon-column-setting:before {
  content: "\e61f";
}

.icon-distributor:before {
  content: "\e619";
}

.icon-inventory-inquiry:before {
  content: "\e67f";
}

.icon-distribution:before {
  content: "\e890";
}

.icon-safeguard:before {
  content: "\e657";
}

.icon-refund:before {
  content: "\e647";
}

.icon-payment-solid:before {
  content: "\e719";
}

.icon-operations:before {
  content: "\e617";
}

.icon-sales-promotion:before {
  content: "\e600";
}

.icon-coupon:before {
  content: "\e629";
}

.icon-logistics:before {
  content: "\e6d5";
}

.icon-property:before {
  content: "\e727";
}

.icon-coordinates:before {
  content: "\e605";
}

.icon-print:before {
  content: "\e6e3";
}

.icon-information:before {
  content: "\e86f";
}

.icon-comment-small:before {
  content: "\e8b9";
}

.icon-comment:before {
  content: "\e7f5";
}

.icon-after-sale:before {
  content: "\e65d";
}

.icon-integral:before {
  content: "\e646";
}

.icon-store:before {
  content: "\e74b";
}

.icon-payment:before {
  content: "\e61e";
}

.icon-menu-line:before {
  content: "\e669";
}

.icon-password-line:before {
  content: "\e62b";
}

.icon-info:before {
  content: "\ed50";
}

.icon-log:before {
  content: "\e7c3";
}

.icon-cancel-full-screen:before {
  content: "\e758";
}

.icon-full-screen:before {
  content: "\e602";
}

.icon-user-line:before {
  content: "\e60f";
}

.icon-navicon:before {
  content: "\e8ae";
}

.icon-lock:before {
  content: "\e623";
}

.icon-tools:before {
  content: "\e608";
}

.icon-RectangleCopy:before {
  content: "\e6a4";
}

.icon-statement:before {
  content: "\e6aa";
}

.icon-warehouse:before {
  content: "\e6ab";
}

.icon-calendar:before {
  content: "\e6ac";
}

.icon-rise:before {
  content: "\e6ad";
}

.icon-aircraft:before {
  content: "\e6ae";
}

.icon-unlock:before {
  content: "\e6af";
}

.icon-line-delete:before {
  content: "\e6b0";
}

.icon-target:before {
  content: "\e6b1";
}

.icon-activity:before {
  content: "\e6b7";
}

.icon-line-picture:before {
  content: "\e6ba";
}

.icon-equity:before {
  content: "\e6c0";
}

.icon-configuration:before {
  content: "\e6c1";
}

.icon-bills:before {
  content: "\e6cd";
}

.icon-sales-return:before {
  content: "\e6ce";
}

.icon-risk-control:before {
  content: "\e6d6";
}

.icon-authorization:before {
  content: "\e6d7";
}

.icon-label:before {
  content: "\e62c";
}

.icon-file-store:before {
  content: "\e654";
}

.icon-gl-code:before {
  content: "\e9ba";
}

.icon-specification2:before {
  content: "\e715";
}

.icon-prepaid-card:before {
  content: "\e62d";
}

.icon-messages:before {
  content: "\e684";
}

.icon-terminal:before {
  content: "\e616";
}

.icon-s-goods:before {
  content: "\e675";
}

.icon-merchant:before {
  content: "\e649";
}

.icon-user-setting:before {
  content: "\e656";
}

.icon-monitoring:before {
  content: "\e62e";
}

.icon-category:before {
  content: "\e6a7";
}

.icon-order-setting:before {
  content: "\e607";
}

.icon-parameter:before {
  content: "\e60a";
}

.icon-retract:before {
  content: "\e655";
}

.icon-mail-setting:before {
  content: "\e610";
}

.icon-editor:before {
  content: "\e645";
}

.icon-clound-down:before {
  content: "\e64f";
}

.icon-register:before {
  content: "\e785";
}

.icon-form-designer:before {
  content: "\e636";
}

.icon-document:before {
  content: "\e638";
}

.icon-user1:before {
  content: "\e64a";
}

.icon-distributed-cache:before {
  content: "\e61d";
}

.icon-verification-code:before {
  content: "\e628";
}

.icon-shop:before {
  content: "\e736";
}

.icon-code1:before {
  content: "\e63c";
}

.icon-operation-log:before {
  content: "\e668";
}

.icon-role:before {
  content: "\e74a";
}

.icon-diamond:before {
  content: "\e633";
}

.icon-setting:before {
  content: "\e614";
}

.icon-withdraw:before {
  content: "\e609";
}

.icon-commodity:before {
  content: "\e67b";
}

.icon-dictionaries:before {
  content: "\e666";
}

.icon-cloud-cache:before {
  content: "\e743";
}

.icon-classify:before {
  content: "\e71b";
}

.icon-inventory:before {
  content: "\e674";
}

.icon-brand:before {
  content: "\e641";
}

.icon-specification:before {
  content: "\e644";
}

