var formatNumber = function (n) {
  n = n.toString();
  return n[1] ? n : '0' + n;
};

var formatDate = function (datetime) {
  var date = getDate(datetime);
  var year = date.getFullYear();
  var month = date.getMonth() + 1;
  var day = date.getDate();
  return [year, month, day].map(formatNumber).join('-');
};

module.exports = {
  formatDate: formatDate
};